body {
  font-family: 'Nunito', 'Quicksand', 'Varela Round', 'Comic Sans MS', 'Segoe UI', system-ui, -apple-system, sans-serif;
}

#dropZone {
  width: 300px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  line-height: 200px;
  font-size: 20px;
  margin: 20px auto;
}

.highlight {
  background-color: rgb(202, 199, 206);
}

.btn {
  margin-left: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

#api-key,
#api-manage {
  height: 2rem;
}

/* Element being added */
.htmx-added {
  opacity: 0;
}

.htmx-added.htmx-settling {
  opacity: 1;
  transition: opacity 500ms ease-in;
}