<script>
  localStorage.setItem("apikey", "{{ key }}");
</script>
<link rel="stylesheet" href="table.css" />

<span class="header">
  <!-- Insert API Key gen button -->
  <h2 id="greeting">Welcome {{ username }}</h2>
  <span>
    <button id="api-manage" onclick="manageAPIKeys()">Manage API Keys</button>
    <button id="api-key" onclick="generateAPIKeys()">Generate API Key</button>
  </span>
</span>
<h1>Drag and Drop File Upload</h1>
<div id="dropZone">Drop files here</div>

<h2>Uploaded Files</h2>
<p>
  <button onclick="createFolder()">Create folder</button>
</p>
<p>
  <code
    id="filePath"
    hx-get="/filepath"
    hx-target="#filePath"
    hx-trigger="htmx:afterSettle from:body delay:600ms once"
    hx-swap="innerHTML"
    hx-headers='"access_token" : "{{ key }}"'
    hx-vals=' "folder_id": "{{folder_id}}" '
  ></code>
</p>
<div
  hx-get="/items"
  hx-trigger="htmx:afterSettle from:body delay:500ms once"
  hx-swap="innerHTML"
  hx-target="#fileTable"
  hx-headers='"access_token" : "{{ key }}"'
  hx-vals=' "folder_id": "{{folder_id}}" '
></div>
<table>
  <thead class="">
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="fileTable" class="items"></tbody>
</table>
